<h2>Service Workers on Rails</h2>

<p>The Service Worker Rails Sandbox is a collection of examples using Service Workers on Rails. The sandbox makes use of the
  <%= link_to "#" do %>
    <code>serviceworker-rails</code>
  <% end %>
  gem which makes it easier to integrate Service Worker scripts with the Rails asset pipeline. You can find the <%= link_to "source code of the sandbox", "#" %> and the
  <%= link_to "#" do %>
    <code>serviceworker-rails</code>
  <% end %>
  gem on GitHub.
</p>

<h4>Caching</h4>
<ul>
  <li>
    <%= link_to "Cache then Network", page_path("cache-then-network") %>
  </li>
</ul>

<h4>Offline</h4>
<ul>
  <li>
    <%= link_to "Offline Fallback", page_path("offline-fallback") %>
  </li>
</ul>

<p>
  Here are some <%= link_to 'Cats', stream_path('cats') %>.
</p>
