<!DOCTYPE html>
<html>
  <head>
    <title>Service Worker on Rails</title>
    <%= site_metatags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon"                 href="/touch-icon.png" />
    <link rel="icon"             sizes="192x192" href="/touch-icon.png" />
    <%= yield :head %>
  </head>
  <body>
    <div class="nav-container container">
      <%= render "layouts/navbar" %>
    </div>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <main class="container">
      <%= yield %>
    </main>
    <%= render "layouts/footer" %>
    <%= render "layouts/analytics" %>
  </body>
</html>
