<!DOCTYPE html>
<html>
  <head>
    <title>Service Workers on Rails</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="nav-container container">
      <%= render "layouts/navbar" %>
    </div>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <main class="container">
      <%= yield %>
    </main>
    <footer>
    </footer>
  </body>
</html>
