<!DOCTYPE html>
<html>
  <head>
    <title>Service Worker on Rails</title>
    <%= site_metatags %>

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon"                 href="/touch-icon.png" />
    <link rel="icon"             sizes="192x192" href="/touch-icon.png" />
    <%= yield :head %>
  </head>
  <body>
    <header>
      <%= render "layouts/navbar" %>

      <%= render "layouts/sidenav" %>

    </header>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <main>
      <div class="container">
        <div class="row">
          <div class="col s12 l12">
            <%= yield %>
          </div>
        </div>
      </div>
    </main>
    <%= render "layouts/footer" %>
    <%= render "layouts/analytics" %>
  </body>
</html>
